html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
}

img {
    margin: 10px auto;
    height: auto;
    width: auto;
}

h1 {
    font-size: 20px;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.header.scroll {
    background-color: rgba(0, 0, 0, 0.6);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/header5.png);
    background-size:cover; 
    background-position: center;
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    margin-right: 30px;
}

.logo img {
    height: 100px;
    width: auto;
    cursor: pointer;
}

.profile{
    margin-left: 50px;

}

.profile a{
    height: 40px;
    width: auto;
    color: white;
}

.profile button {
    background-color: #40D7DF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.profile button:hover {
    background-color: #5BC4CB;
    transform: scale(1.05);
}

.header-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}

.main-tittle {
    text-align: center;
    margin-top: 5%;
    color: white;
}

.main-tittle h1 {
    font-size: xx-large;
}

.main-tittle p {
    font-size: 25px;
}



/* /* 
.search {
    margin-top: 2%;
    text-align: center;
    padding: 7px 30px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; */
}  */ */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.search h2{
    color: white;
}

.search-select,
.search-input,
.search-button {
    padding: 10px;
    border: 1px;
    font-size: 16px;
}

.search-select {
    color: grey;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}

.search-input {
    flex: 1;
    width: 40px;
    border: none;
    border-radius: 0;
}

.search-button {
    background-color: #40D7DF;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#principal-main{
    margin-top: 600px;
}

.about-title{
    text-align: center;
}


.about-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.about-options > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about-options a {
    font-size: 18px;
    margin: 0;
    color: #40D7DF;
    text-decoration: none;
    font-weight: 900;
    font-size: x-large;
}

.option-image {
    position: relative;
    overflow: hidden;
}



/* .image-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    transition: opacity 0.3s ease;
}

.original-image,
.hover-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hover-image {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.option-image:hover .original-image {
    opacity: 0;
}

.option-image:hover .hover-image {
    opacity: 1;
} */




.option-image img {
    max-width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.option-image:hover img {
    transform: scale(1.05);
}

.adopt .option-image:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
    mix-blend-mode: multiply;
}

.sponsor .option-image:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
    mix-blend-mode: multiply;

}

.contribution .option-image:hover {
    opacity: 0;
    transition: opacity 0.3s ease;
    mix-blend-mode: multiply;

}







.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    margin-left: 5%;
}

.footer-menu a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}


.mail h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.mail input,
.mail button {
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    
}

.mail button{
    background-color: #40D7DF;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.mail button:hover {
    background-color: #5BC4CB;
    transform: scale(1.05);
}


.social-media a {
    margin: 5px;
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.social-media ion-icon {
    color: white;
    transition: color 0.3s ease;
}

.social-media ion-icon:hover {
    color: #40D7DF;
}


/* Media query for screens up to 768px wide (example: tablets and smaller) */
@media (max-width: 768px) {
    .header-up {
        flex-direction: column;
        align-items: center;
    }

    .header-menu {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        flex-direction: column;
    }

    .footer-menu {
        justify-content: center;
        text-align: center;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .mail,
    .social-media {
        text-align: center;
    }

}

/* Media query for iPad Mini (768px width) */
@media (max-width: 768px) {
    .main-tittle h1 {
        font-size: 24px;
    }

    .main-tittle p {
        font-size: 18px;
    }

    .about-options {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-options img {
        height: 150px;
    }
}

/* Media query for screens up to 576px wide (example: mobile devices) */
@media (max-width: 576px) {
    .main-tittle h1 {
        font-size: 24px;
    }

    .main-tittle p {
        font-size: 18px;
    }

    .about-options {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-options img {
        height: 150px; 
    }
}



/* Media query for smaller screens (320px width) */
@media (max-width: 320px) {
    .main-tittle h1 {
        font-size: 20px;
    }

    .main-tittle p {
        font-size: 16px;
    }

    .about-options img {
        height: 120px;
    }
}





