html,
body {
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
    cursor: url('cursor.png'), help;
}

.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.header-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cube-container {
    align-items: center;
    perspective: 800px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cube-container:hover {
    cursor: pointer;
}

.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 6s infinite linear;
}

.side {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.front { transform: translateZ(50px); }
.back { transform: rotateY(180deg) translateZ(50px); }
.right { transform: rotateY(90deg) translateZ(50px); }
.left { transform: rotateY(-90deg) translateZ(50px); }


@keyframes rotate {
    0%, 100% { transform: rotateY(0); }
    25% { transform: rotateY(90deg); }
    50% { transform: rotateY(180deg); }
    75% { transform: rotateY(270deg); }
}


.header-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-menu a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.header-menu a:hover {
    text-decoration: underline;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-tittle {
    text-align: center;
    margin-top: 5%;
    color: white;
    font-size: xx-large;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    text-align: center;
    margin-top: 20px;
}

.about-options > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about-options a {
    font-size: 18px;
    margin: 0;
    color: #2ecc71;
    text-decoration: none;
    font-weight: 900;
    font-size: x-large;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.box:hover {
    background-color: black;
    transform: rotate(45deg) scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box:hover a {
    color: white;
}

/* .container:hover {
    cursor: url('img/custom-cursor.png');
} */

.interactive-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.interactive-button:hover {
    transform: scale(1.1);
}

.slider-container {
    margin-top: 20px;
    width: 200px;
    margin-top: 80px;
}

.color-slider {
    width: 100%;
    cursor: pointer;
    appearance: none;
    background-color: #3498db;
    height: 5px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
}

.color-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #2ecc71;
    border-radius: 50%;
    cursor: pointer;
}

.color-slider:hover {
    background-color: #e74c3c;
}

.color-slider:hover::-webkit-slider-thumb {
    background-color: #f39c12;
}

.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    margin-left: 5%;
}

.footer-menu a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.mail h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.mail input{
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    
}

.social-media a {
    margin: 5px;
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

.social-media ion-icon {
    color: white;
    transition: color 0.3s ease;
}

.social-media ion-icon:hover {
    color: #40D7DF;
}


/* Media query for screens up to 768px wide */
@media (max-width: 768px) {
    .header-up,
    .header-menu,
    .search-bar,
    .footer-menu,
    .contact,
    .mail,
    .social-media {
        text-align: center;
    }
    
    .footer-menu {
        justify-content: center;
    }

    .about-options {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for screens up to 576px wide */
@media (max-width: 576px) {
    .main-tittle h1,
    .main-tittle p {
        font-size: 24px;
    }

    .about-options {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-options img {
        height: 150px; 
    }
}

/* Media query for smaller screens (320px width) */
@media (max-width: 320px) {
    .main-tittle h1,
    .main-tittle p {
        font-size: 20px;
    }

    .about-options img {
        height: 120px;
    }
}
